.tile {
	/* stage size (400)/8 spaces */
	-fx-min-height:  15px;
	-fx-min-width:   15px;
	-fx-pref-height: 15px;
	-fx-pref-width:  15px;
	-fx-max-height:  15px;
	-fx-max-width:   15px;
	
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.tile-alive{
    -fx-base: CadetBlue; 
}
.tile-dead{
    -fx-base: LightGoldenRodYellow; 
}